body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
}

p, ul li, td, th {
    font-size: 16px;
}

img, video {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

footer {
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-top: 1px solid #ccc;
}

/* تنسيقات إضافية للنموذج */
form input[type="text"], form input[type="email"], form input[type="submit"] {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}